body {
  margin: 0;
  padding: 0;
}

h1, div {
  line-height: 2em;
  text-align: center;
}
li{list-style: none;}
.button {
  width: 100px;
  height: 3em;
  border: 3px solid white;
  outline: 5px inset black;
  background-color: black;
  box-shadow: 10px 10px 0px black;
  transition: box-shadow 0.3s ease-out;
  box-sizing: border-box;
  text-align: center;
}
.button:hover {
  box-shadow: 0 0 0 black;
}
.button:active {
  box-shadow: -10px -10px 0 black;
}
.button:visited {
  border: 3px solid yellow;
}
.button a {
  color: white;
  display: inline-block;
  font-family: Arial, Helvetica;
  font-size: 1em;
  line-height: 3em;
  text-decoration: none;
  letter-spacing: 3px;
  width: 100%;
}
