*{margin: 0; padding: 0;}
body{}
input, button{line-height: 2.1em; padding:7px; box-sizing: border-box; text-transform: uppercase;}
.header-title{line-height: 7em; text-transform: uppercase;}
.container {width: 50%; margin:20vh auto; text-align: center;}
.bt-container {line-height: 3em;}
